<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sed vero totam consectetur, aut, ea repudiandae ducimus accusamus quos nemo deleniti aliquam molestias laborum eos veritatis impedit placeat maiores quasi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sed vero totam consectetur, aut, ea repudiandae ducimus accusamus quos nemo deleniti aliquam molestias laborum eos veritatis impedit placeat maiores quasi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sed vero totam consectetur, aut, ea repudiandae ducimus accusamus quos nemo deleniti aliquam molestias laborum eos veritatis impedit placeat maiores quasi.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>